<mat-toolbar color="primary">
  <span>Simple compression app</span>
</mat-toolbar>
<form>
  <div class="center-div">
    <mat-form-field appearance="fill" class="center-block large-input input-spacer">
      <mat-label>Insert a string here</mat-label>
      <textarea matInput placeholder="ABC123" name="inputData" [(ngModel)]="inputData"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select an algoritm</mat-label>

      <mat-select #algoritm>
        <mat-option value="1">Huffman</mat-option>
        <mat-option value="3">LZW</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </form>
  
  <app-huffman [inputData]="inputData" *ngIf="algoritm.value === '1'"></app-huffman>

  <app-lzw [inputData]="inputData" *ngIf="algoritm.value === '3'"></app-lzw>
